<%- include("./partials/headers/cdn.ejs") %>

<link rel="stylesheet" href="/stylesheets/blog.css">
<title>Blog</title>

<%- include("./partials/headers/navbar.ejs") %>


<div class="container">
    <div class="row my-3">

        <div class="col-12 col-md-9 mb-3">
            <div class="row">

                <div class="col-12">
                    <div class="card shadow">
                        <img src="https://d3atagt0rnqk7k.cloudfront.net/wp-content/uploads/2019/11/21132007/cbd-and-anxiety.png"
                            class="card-img-top" alt="...">
                        <div class="card-body my-3">
                            <h5 class="card-title"><strong>Self-Examine Yourself For These Signs Of Anxiety
                                    Disorders!</strong></h5>
                            <hr class="bg-dark">
                            <p class="card-text">With more responsibilities comes more anxiety! This stands true in
                                today’s world, more so because there are various reasons that give us anxiety daily
                                – whether it is a relationship that isn’t working out or job-related anxiety, it is
                                difficult to diagnose if you are suffering from an anxiety disorder.

                                If you have a persistent, excessive and intense worry or fear about everyday
                                situations – a feeling of apprehension or fear about what is about to happen, then
                                you may be a prey of an anxiety disorder.</p>

                            <strong>What are Anxiety Disorders?</strong>

                            <p></p>Anxiety disorders refer to a group of mental health disorders, which differ from
                            the
                            normal feelings of anxiousness or nervousness, and involve excessive anxiety or
                            fear. These are the most common types of mental disorders affecting approximately
                            30% of adults at some point during their lifetime.

                            Anxiety disorders can cause people to try to steer clear of situations that worsen
                            or trigger anxiety symptoms. </p>

                            <strong>When Should you Seek Professional Help?</strong>

                            <p>Anxiety often proves to be a debilitating condition and before you know it, the
                                symptoms
                                could worsen and lead to a serious form of anxiety disorder. Therefore, it is
                                important
                                to seek professional help before the above symptoms become severe.

                                Regardless of how long you have been encountering the symptoms listed above, if you
                                ever
                                feel like your emotions are taking a toll on your life, book an appointment with
                                your
                                healthcare provider or a trained professional.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-12 col-md-3">
            <div class="row">

                <div class="col-12">
                    <div class="card mb-3">
                        <img src="https://d14byomi3ja2wr.cloudfront.net/2020/02/25145630/resized/small/blog4.jpg"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Coronavirus Outbreak – The Latest From Around The World!</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                            <a href="#" class="btn btn-primary w-100">Read Post</a>
                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <div class="card mb-3">
                        <img src="https://detwxg7gzm61n.cloudfront.net/2020/02/21130600/Blog-55-380x260.jpg"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">6 Smoothie Recipes For A Smooth Health!</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                            <a href="#" class="btn btn-primary w-100">Read Post</a>
                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <div class="card mb-3">
                        <img src="https://detwxg7gzm61n.cloudfront.net/2020/02/06200250/Blog-1-380x260.jpg"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Want To Be Happy? Meditation Is Your Best Bet!</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                            <a href="#" class="btn btn-primary w-100">Read Post</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>


<%- include("./partials/footer.ejs") %>